<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="dev" class="org.koushik.Dev" autowire="byType">

<!--    <property name="compObj" ref="compObj"/>-->

    </bean>

    <bean id="compObj" class="org.koushik.Laptop" primary="true">

    </bean>

    <bean id="comp" class="org.koushik.Desktop">

    </bean>

</beans>

<!--Here we are using the autowire it has byType and byName method, when we are using the byType then we have to use the primary, because we have same type two object.-->