<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="dev" class="org.koushik.Dev">

<!--        <property name="laptopObj" ref="laptopId"/>-->

<!--        assigning the value to the variable by the property-->
<!--        <property name="random" value="123"/>-->

<!--        assigning the value to variable by the constructor-->
        <constructor-arg name="random" index="0" value="123" />
        <constructor-arg name="random2" index="1" value="1234" />

        <constructor-arg name="laptopObj" index="2"  ref="laptopId" />



    </bean>

    <bean id="laptopId" class="org.koushik.Laptop">

    </bean>

</beans>


<!--here when we are using the property then we need the getter and setter in the Dev class-->
<!--here when we are using the constructor-arg then we need the constructor in the Dev class -->